<div class='card'>
  <div class='card-img-top'>
    <img src='{{flags}}' alt='{{name}}' />
  </div>
  <div class='card-body'>
    <h2 class='card-title'>{{name}}</h2>
    <p class='card-text'>Capital {{capital}}</p>
    <p class='card-text'>Population {{population}}</p>
    <ul class='list-group'>Languages
      {{#each}}
        <li class='list-group-item'>{{languages}}</li>
      {{/each}}
    </ul>
  </div>
</div>